<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p id="gongcuoneirong"></p>
<p id="kunnan"></p>
<p id="banfa"></p>
<p id="xinde"></p>
<p id="jihua"></p>

<table id="ribaotable">
    <thead>
    <th>No.</th>
    <td>工作内容</td>
    <td>心得体会</td>
    <td>遇到的困难</td>
    <td>解决办法</td>
    <td>明日计划</td>
    </thead>
    <tbody id="tbody">


    </tbody>


</table>


<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/ribao.js"></script>
</body>
</html>